@import "../mixins";

.navigate-back {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    width: fit-content;

    &:hover {
        color: #007bff;
    }
}

.mypage-navigation {
    margin-top: 20px;
    width: 100%;

    &__list {
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            overflow-x: auto;
            background-color: #ffffff;

            @include mq (max-sp) {
                flex-direction: column;
                gap: 8px;
            }

            li {
                @include mq (max-sp) {
                    border: 1px solid var(--primary);
                    border-radius: 4px;
                    text-align: center;
                }

                &:has(a.active) {
                    @include mq (max-sp) {
                        border: 1px solid #438afe !important;
                        background-color: var(--primary);
                    }
                }

                a {
                    text-decoration: none;
                    color: #007bff;
                    padding: 6px 10px;
                    display: inline-block;

                    @include mq (max-sp) {
                        width: 100%;
                    }

                    &.active {
                        border-bottom: 2px solid #007bff;

                        @include mq (max-sp) {
                            border: none;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.mypage-content {
    width: 100%;
    margin-top: 20px;
}

.mypage-content.modal-container {
    margin-top: 0;
}

.coin-size {
    width: 16px;
    height: 16px;

    &-lg {
        width: 20px;
        height: 20px;
    }
}

.reward-point {
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        ;
        margin: 0 auto;
        gap: 20px;
        width: 820px;

        @include mq (max-sp) {
            width: 500px;
        }

        @include mq (max-sp-sl) {
            width: 100%;
        }
    }

    &__overview {
        width: 100%;
        display: flex;
        gap: 30px;
        justify-content: center;

        @include mq (max-sp-sl) {
            flex-direction: column;
            gap: 16px;
        }
    }

    &__overview-item {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        background-color: #6AC4F3;
        color: white;
        font-size: 25px;
        font-weight: 600;
        border-radius: 8px;
        height: 130px;

        @include mq (max-sp-sl) {
            padding: 12px 0;
        }
    }

    &__detail {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;

        @include mq (max-sp) {
            flex-wrap: wrap;
        }
    }

    &__detail-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        width: 190px;
        height: 150px;
        border-radius: 8px;
        font-weight: 600;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        @include mq (max-sp) {
            width: auto;
            flex: 1 1 48%;
            max-width: 48%;
            box-sizing: border-box;
        }

        @include mq (max-sp-sl) {
            flex: 1 1 46%;
            max-width: 46%;
        }

        >img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
    }
}

.redeem-reward {
    width: 100%;
    margin-top: 20px;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 12px;
        row-gap: 12px;
        width: fit-content;
        margin: 20px auto 0px;

        @include mq (max-pc) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include mq (max-sp-sl) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }

    &__item {
        width: 285px;
        position: relative;
        border: 1px solid #f2f5fa;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    }

    &__score {
        font-size: 16px;
        margin: 0px 2px 0px 6px;
    }

    &__info {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        h4 {
            margin-top: -2px;
        }
    }

    &__submit {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 12px;
        background-color: #f8fafc;

        &.not-allowed {
            pointer-events: none;
        }

        a {
            width: 100%;
            border: none;
            background-color: #156ac8;
            color: white;
            border-radius: 4px;
            font-size: 16px;
            padding: 8px 0;
            text-align: center;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: white !important;
                opacity: 0.85;
            }
        }
    }

    &__img {
        position: relative;
        height: 190px;

        img {
            width: 100%;
        }
    }
    &__title {
        height: fit-content;
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__old-price {
        text-decoration: line-through;
        color: gray;
        font-size: 14px;
        margin-left: 4px;
    }

    &__new-price {
        font-weight: bold;
        color: black;
        font-size: 18px;
    }
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 73%, rgba(0, 0, 0, 0.457) 100%);
    z-index: 0;
}

.redeem-info {
    margin-top: 4px;
    display: flex;

    .fa-arrow-right {
        font-size: 20px;
        color: #156ac8;
    }
}

.bullet-icon {
    font-size: 20px !important;
    margin-right: 6px;
    color: #156ac8;
    width: 24px;
}

.gray-filter {
    filter: grayscale(100%);
}

.off-price-percent {
    font-weight: 700;
    font-size: 12px;
    color: white;
    background: #dc3545 !important;
    padding: 2px 10px;
    border-radius: 12px;
    margin-left: 8px;
    margin-top: 8px;
    width: fit-content;
}

.no-underline {
    text-decoration: none;
}

.leaderboard {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mq (max-pc) {
        align-items: center;
    }

    .leaderboard-wrapper {
        display: flex;
        gap: 30px;

        @include mq (max-pc) {
            flex-direction: column;
            align-items: center;
        }

        &__top-3 {
            width: 50%;
            height: 530px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            @include mq (max-pc) {
                width: 70%;
            }

            @include mq (max-tb) {
                width: 100%;
            }
        }

        &__top {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            &--avatar {
                position: relative;
                border-radius: 999px;
                border: 2px solid #d9d7e0;
                width: 140px;
                height: 140px;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

                @include mq (max-sp) {
                    width: 110px;
                    height: 110px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 999px;
                }

                span {
                    position: absolute;
                    bottom: 4px;
                    right: 0;
                    background-color: #203C84;
                    border-radius: 8px;
                    color: white;
                    font-size: 1rem;
                    font-weight: 600;
                    width: 100%;
                    text-align: center;
                    padding: 4px 0;

                    @include mq (max-sp) {
                        font-size: 0.8rem;
                    }
                }
            }

            &--point {
                display: flex;
                flex-direction: column;
                flex: 1;
                width: 80%;
                margin: 0 auto;
                padding: 12px 0;
                gap: 30px;
                align-items: center;
                background-color: #ABD2F2;
                border-radius: 8px;

                @include mq (max-sp) {
                    width: 95%;
                }

                &.first-place {
                    background-color: #6AC4F3;
                }

                >img {
                    width: 80px;
                    height: 80px;
                }

                &-detail {
                    font-size: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: fit-content;
                    color: white;
                    font-weight: 700;

                    .point {
                        font-size: 3rem;
                        line-height: 1;
                        max-width: 120px;
                        word-wrap: break-word;
                        text-align: center;
                    }
                }
            }
        }

        &__list {
            width: 50%;

            @include mq (max-pc) {
                width: 70%;
            }

            @include mq (max-tb) {
                width: 95%;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            th,
            td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

            td>img {
                border: 2px solid #d9d7e0;
            }

            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .rank {
                width: 30px;
                padding-left: 20px;
            }

            .score {
                text-align: right;
                color: #007bff;
                font-weight: bold;
                padding-right: 20px;
            }

            .current-user {
                background-color: #f8f9fa;
                border: 2px solid #007bff;
                border-radius: 10px;
                margin-top: 20px;

                td {
                    border-bottom: none;
                }
            }
        }
    }

    .highlight-message {
        display: block;
        font-weight: bold;
        height: fit-content;
        font-size: 1.2em;
        color: #ec286b;
        background-color: #f8f9fa;
        padding: 10px;
        border: 2px solid #ec286b;
        border-radius: 5px;
        margin-top: 10px;
        text-align: center;
    }
}

@include mq (max-sp-sl) {
    .leaderboard__top--point {
        width: 100px;
        max-height: 230px;
    }

    .leaderboard__top--point-detail .point {
        font-size: 40px;

        &~span {
            font-size: 16px;
        }
    }

    .leaderboard__top--point>img {
        width: 60px;
        height: 60px;
    }

    .leaderboard__top--avatar {
        width: 100px;
        height: 100px;
    }

    .leaderboard__top--avatar span {
        font-size: 11px;
    }

    .leaderboard__top-3 {
        height: 400px;
    }

    .leaderboard__list th,
    .leaderboard__list td {
        padding: 8px;
    }
}

.recharge-coin {
    display: flex;
    gap: 60px;

    @include mq (max-pc) {
        flex-direction: column;
    }

    &__list {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include mq (max-pc) {
            width: 100%;
        }
    }

    &__instruction-list {
        li {
            display: flex;
            margin-bottom: 8px;
        }
    }

    .listunorder {
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #e0e8f3;
        list-style-type: circle;
        list-style-position: inside;
    }

    .payment-list {
        display: flex;
        gap: 20px;

        .payment-method {
            width: 100px;
            height: 100px;
            border-radius: 6px;
            cursor: pointer;

            &.selected {
                border: 3px solid #166AC9;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .payment-transactions {
        display: flex;
        width: 100%;
    }

    .coin-payment-selections {
        width: 100%;

        input[type=radio] {
            accent-color: var(--primary);
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th {
            text-align: left;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        td {
            padding: 14px;
            border-bottom: 1px solid #ddd;
        }

        tr {
            cursor: pointer;

            &:hover {
                background-color: #fafafa;
            }
        }

        td label {
            margin-bottom: 0px;
        }

        .coin,
        .payment-transaction-detail .coin {
            position: relative;
            top: -2px;
        }

        input[type="radio"] {
            margin-right: 10px;
        }
    }

    .payment-transaction-detail {
        width: 50%;

        @include mq (max-pc) {
            width: 100%;
        }

        .transaction-details {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .detail-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;

            &:last-child {
                border-bottom: none;
            }
        }

        .transaction-instructions {
            margin-bottom: 15px;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
            font-weight: 300;
            font-size: 14px;

            ul li {
                color: black !important;
            }
        }

        .warning {
            font-size: 14px;
            margin-top: 20px;
            font-weight: 700;
        }

        .submit-button {
            display: block;
            width: 100%;
            padding: 15px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
            text-align: center;

            &:hover {
                background-color: #0065d2;
            }
        }
    }

    .bank-card-icon {
        display: inline-block;
        width: 100%;
        height: 100%;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23000' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M4 10a2 2 0 0 1 2-2h36a2 2 0 0 1 2 2v28a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2z'/%3E%3Cpath stroke-linecap='square' d='M4 16h40'/%3E%3Cpath stroke-linecap='round' d='M27 32h9m8-22v16M4 10v16'/%3E%3C/g%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }
}

.certification-modal .certification-header * {
    color: #4b5d73;
}

.common-modal {
    .score-badge {
        padding: 6px 8px;
        font-size: 1rem;
        font-weight: 300;
    }

    .card {
        margin-bottom: 12px;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

    .card-header {
        background: 0 0;
        padding: .5rem 1.5rem !important;
        min-height: 3.5rem;
        padding: 1.5rem 1.5rem;
        margin-bottom: 0;
        border-bottom: 1px solid #e0e8f3;
    }

    textarea.no-answer {
        color: grey;
    }

    .list-group.square-border {
        border-radius: 0;

        .list-group-item {
            border-left: none !important;
            border-right: none !important;
        }
    }
}

.exam-result-table {
    min-width: 700px;
}

.gray-filter {
    filter: grayscale(100%);
}

.pull-right {
    float: right;
}

.rounded-circle {
    background-color: white;
}

@import 'my-page/personal.scss';