APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_LOG_LEVEL=
APP_URL=

LOG_CHANNEL=

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=
CACHE_DRIVER=
SESSION_DRIVER=
QUEUE_DRIVER=

# Email account for normal operation
MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

TO_EMAIL_CC=

#Becarefull when changing this value to true!
MAIL_SPAM=
ADMIN_EMAIL=
ADMIN_NAME=

# Email account for spaming
SPAM_MAIL_HOST=
SPAM_MAIL_PORT=
SPAM_MAIL_ENCRYPTION=
SPAM_MAIL_FROM_ADDRESS=
SPAM_MAIL_SENDER_NAME=
SPAM_MAIL_USERNAME=
SPAM_MAIL_PASSWORD=

SYSTEM_NAME=
FORCE_HTTPS=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_APP_ID=

DEMO_MODE=
NOCAPTCHA_SECRET=
NOCAPTCHA_SITEKEY=

# MOMO
MOMO_SECRET=
MOMO_ACCESSKEY=
MOMO_PARTNERCODE=
MOMO_ENDPOINT=
MOMO_SECRET_TEST=
MOMO_ACCESSKEY_TEST=
MOMO_PARTNERCODE_TEST=
MOMO_ENDPOINT_TEST=
MOMO_SECRET_ATM_TEST=
MOMO_ACCESSKEY_ATM_TEST=
MOMO_PARTNERCODE_ATM_TEST=
MOMO_ENDPOINT_ATM_TEST=
MOMO_BANKCODE_ATM_TEST=
GOOGLE_APPLICATION_CREDENTIALS=

L5_SWAGGER_CONST_HOST=
L5_SWAGGER_GENERATE_ALWAYS=
JWT_SECRET=

CHAT_BOT_URL=
CHAT_BOT_TOKEN=

VIDEO_ENCRYPT_URL=
APP_LOG_PATH=
MAIL_LOG_PATH=
VNPAY_LOG_PATH=