APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:bSd8yNaKFo5JxWbkVfNeUqAqKBRES5kUdj2kDrEsqA4=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=haeldev_staging
DB_USERNAME=hikari
DB_PASSWORD=123456

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

# Email account for normal operation
MAIL_MAILER=smtp
# MAIL_HOST=mail.hikarinetworks.com
# MAIL_PORT=465
# MAIL_ENCRYPTION=ssl
# MAIL_FROM_ADDRESS=dev@hikarinetworks.com
# MAIL_USERNAME=dev@hikarinetworks.com
# MAIL_PASSWORD=484f}q8BmBfZ

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=ntphu1206@gmail.com
MAIL_PASSWORD=leqvydzhkjqwbgpp
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=ntphu1206@gmail.com
MAIL_FROM_NAME=ntphu

TO_EMAIL_CC=dev@hikarinetworks.com

#Becarefull when changing this value to true!
MAIL_SPAM=true
ADMIN_EMAIL=hoan.phan@gss-sol.com
ADMIN_NAME=hoan.phan@gss-sol.com

# Email account for spaming
SPAM_MAIL_HOST=smtp.gmail.com
SPAM_MAIL_PORT=587
SPAM_MAIL_ENCRYPTION=tls
SPAM_MAIL_FROM_ADDRESS=mail@elearning.hikariacademy.edu.vn
SPAM_MAIL_SENDER_NAME="Hikari Academy"
SPAM_MAIL_USERNAME=mail@elearning.hikariacademy.edu.vn
SPAM_MAIL_PASSWORD=rtrfcfyymqkdezjm

SYSTEM_NAME="HIKARI ACADEMY ONLINE TEST"
FORCE_HTTPS=false
FACEBOOK_CLIENT_ID=YourID
FACEBOOK_CLIENT_SECRET=YourSecret
FACEBOOK_REDIRECT_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
PUSHER_KEY=233456
PUSHER_SECRET=
PUSHER_APP_ID=yourid

DEMO_MODE=false
NOCAPTCHA_SECRET=6LcE7LApAAAAAGP7ehFf7eveMjU925wyZPZhfd65
NOCAPTCHA_SITEKEY=6LcE7LApAAAAAOBzatGxgyNhHfer6Mczvk9DTb6b

# MOMO
MOMO_SECRET=
MOMO_ACCESSKEY=
MOMO_PARTNERCODE=
MOMO_ENDPOINT=
MOMO_SECRET_TEST=
MOMO_ACCESSKEY_TEST=
MOMO_PARTNERCODE_TEST=
MOMO_ENDPOINT_TEST=
MOMO_SECRET_ATM_TEST=
MOMO_ACCESSKEY_ATM_TEST=
MOMO_PARTNERCODE_ATM_TEST=
MOMO_ENDPOINT_ATM_TEST=
MOMO_BANKCODE_ATM_TEST=
GOOGLE_APPLICATION_CREDENTIALS=

L5_SWAGGER_CONST_HOST="http://localhost:8000/api"
L5_SWAGGER_GENERATE_ALWAYS=true
JWT_SECRET=VkTKY6rjQLYuesMFtdJSYKnuio4D7RkqM1smqEOjD03bz3mKwrYDxdBRBrM3IcVz

CHAT_BOT_URL=http://chatbot.hikariacademy.edu.vn:8880
CHAT_BOT_TOKEN=YbbDYAQxsbf9OF8w

VIDEO_ENCRYPT_URL= http://dev.hikariacademy.edu.vn
APP_LOG_PATH=‘/home/haeldev/logs’
MAIL_LOG_PATH=/home/haeldev/logs/sendmail.log
VNPAY_LOG_PATH=/home/haeldev/logs/vnpay.log