.text-primary-color {
    color: var(--primary);
}

.p-60px {
    padding: 60px;
}

.w-350px {
    width: 350px;
}

.w-200px {
    width: 200px;
}

.w-600px {
    width: 600px;
}

.w-450px {
    width: 450px;
}

.w-100px {
    width: 100px;
}

.mw-100px {
    min-width: 100px;
}

.mw-200px {
    min-width: 200px;
}

.mw-250px {
    min-width: 200px;
}

.mw-300px {
    min-width: 200px;
}

.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.line-clamp-1 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.line-clamp-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 1;
}

.line-clamp-3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

.line-clamp-4 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.bg-secondary-custom {
    background-color: #6AC4F3;
}