:root {
    --primary: #166AC9;
    --secondary: #6AC4F3;
    --success: #398A80;
    --font-family-primary: 'Nunito', sans-serif;
    --font-size-default: 14px;
    --bs-primary: #0463CA;
    --bg-color: #f8f9fa;
    --text-color: #495057;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 8px;
    --gold-color: #ffd700;
}
