// Auth modal
.auth-modal {
    $color_2: #6c757d;

    @include mq(max-sp-sl) {
        .g-recaptcha {
            transform: scale(0.77);
            transform-origin: 0 0;
            margin-right: -90px;
        }
    }

    .modal-dialog {
        margin-top: 60px;
        width: 1100px;
        min-width: 1000px;

        @media (max-width: 1023px) {
            width: 90%;
            min-width: 90%;
        }
    }

    .modal-content {
        position: relative;
    }

    .btn-close {
        position: absolute;
        top: 13px;
        right: 13px;
    }

    .login-content,
    .register-content,
    .forgot-password-content {
        display: flex;
        flex-direction: row !important;
        gap: 40px;
        padding: 40px;
        align-items: center;
        transition: opacity 0.01s ease-in-out;

        @include mq(max-sp-sl) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .login-form,
    .register-form,
    .forgot-password-form {
        @media (max-width: 1023px) {
            flex: 1;
        }
    }

    .forgot-password-form {
        width: 45%;
    }

    .animate__animated.animate__fadeOut {
        --animate-duration: 0.01s;
    }

    .register-content {
        flex-direction: row-reverse !important;
    }

    .side-photo {
        width: 55%;
        max-height: 540px;
        border-radius: 8px;
        overflow: hidden;

        @media (max-width: 1023px) {
            display: none;
        }

        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }

    input {
        background-color: #f7faff !important;

        &::-ms-input-placeholder {
            color: #8897AD;
        }

        &::placeholder {
            color: #8897AD;
        }
    }

    h1 {
        font-size: 1.5rem;
        font-weight: bold;

        span {
            color: var(--primary);
        }
    }

    p {
        font-size: 0.875rem;
        color: $color_2;

        span {
            color: var(--primary);
        }
    }

    .form-control {
        margin-bottom: 0.25rem;
    }

    .btn-primary {
        width: 100%;
        margin-bottom: 1rem;
    }

    .forgot-password {
        text-align: right;
        font-size: 0.875rem;

        a {
            color: var(--secondary);
        }
    }

    .login-failed {
        text-align: left;
    }

    .social-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        a {
            margin: 0 0.5rem;
        }
    }

    .register,
    .login {
        text-align: center;
        font-size: 1rem;

        a {
            color: var(--primary);
        }
    }

    .image-container {
        margin-left: 2rem;

        img {
            border-radius: 0.5rem;
        }
    }

    .submit-button {
        padding: 12px 0;
        font-weight: 600;
        font-size: 1rem;
    }

    .captcha-field [data-sitekey] {
        display: flex;
        justify-content: center;
    }
}

.btn-transparent {
    background-color: transparent;
    border: none;
    color: var(--primary);
}

// Loading spinner
.loading-spinner {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    to {
        transform: rotate(1turn)
    }
}

.loading-overlay {
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99999999;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.loading-overlay.is-active {
    opacity: 1;
    visibility: visible;
}

.loading-overlay.is-active.hiding {
    opacity: 1;
    visibility: visible;
    background: rgba(255, 255, 255);
}

.bi-spin::before {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal-header {
    border: none;
}