.auth-modal {
    $color_2: #6c757d;

    .modal-dialog {
        margin-top: 100px;
        width: 1100px;
        min-width: 1100px;
    }

    .modal-content {
        position: relative;
    }

    .btn-close {
        position: absolute;
        top: 13px;
        right: 13px;
    }

    .login-content, .register-content {
        display: flex;
        flex-direction: row !important;
        gap: 40px;
        padding: 40px;
        align-items: center;
        transition: opacity 0.25s ease-in-out;
    }

    .animate__animated.animate__fadeOut {
        --animate-duration: 0.25s;
    }

    .register-content {
        flex-direction: row-reverse !important;
    }

    .side-photo {
        width: 55%;
        max-height: 540px;
        border-radius: 8px;
        overflow: hidden;

        img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }

    input {
        background-color: #f7faff !important;

        &::-ms-input-placeholder {
            color: #8897AD;
        }

        &::placeholder {
            color: #8897AD;
        }
    }

    h1 {
        font-size: 1.5rem;
        font-weight: bold;

        span {
            color: var(--primary);
        }
    }

    p {
        font-size: 0.875rem;
        color: $color_2;

        span {
            color: var(--primary);
        }
    }

    .form-control {
        margin-bottom: 1rem;
    }

    .btn-primary {
        width: 100%;
        margin-bottom: 1rem;
    }

    .forgot-password {
        text-align: right;
        font-size: 0.875rem;

        a {
            color: var(--secondary);
        }
    }

    .social-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;

        a {
            margin: 0 0.5rem;
        }
    }

    .register, .login {
        text-align: center;
        font-size: 1rem;

        a {
            color: var(--primary);
        }
    }

    .image-container {
        margin-left: 2rem;

        img {
            border-radius: 0.5rem;
        }
    }

    .submit-button {
        padding: 12px 0;
        font-weight: 600;
        font-size: 1rem;
    }
}