
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none !important;
}

b, strong {
	font-weight: 700 !important;
}

.btn-primary {
	background-color: var(--primary);
}

.modal-backdrop {
	z-index: 999999 !important;
}

.modal {
	z-index: 9999999 !important;
}

.swal2-container {
	z-index: 99999999 !important;
}