@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);
:root {
  --primary: #166AC9;
  --seconary: #6AC4F3;
  --font-family-primary: "Nunito", sans-serif;
  --font-size-default: 16px;
}

html, body {
  font-family: var(--font-family-primary) !important;
  font-size: var(--font-size-default);
}

.hello {
  color: green;
}

.p-60px {
  padding: 60px;
}

.w-350px {
  width: 350px;
}

.w-200px {
  width: 200px;
}

.w-600px {
  width: 600px;
}

.w-450px {
  width: 450px;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

b, strong {
  font-weight: 700 !important;
}

.footer-social {
  font-size: 1.5rem;
}

.footer-social a {
  color: #fff;
}

.bg-color-primary {
  background: var(--primary);
}

.form-search {
  position: relative;
  display: flex;
  width: 420px;
}

.form-search i {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: #999;
}

.form-search input {
  text-indent: 35px;
  width: 100%;
  height: 40px;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 20px;
  outline: none;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}

.form-search input:focus {
  width: 100%;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
}

.header-my-coin {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(232, 232, 232);
  padding: 1px 10px;
  border-radius: 15px;
  gap: 10px;
  box-sizing: border-box;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.header-my-coin a {
  text-decoration: none;
  color: #000000;
}

.header-my-coin img {
  height: 20px;
}

.header-notification-img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.header-course-img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}
