.video-js.vjs-http-source-selector {
    display: block
}

.video-js {
    height: 410px !important;
    width: 100% !important;
}

@media (max-width: 768px) {
    .video-js {
        height: 193px !important;
    }
}

.vjs-theme-fantasy {
    --vjs-theme-fantasy--primary: var(--primary);
    --vjs-theme-fantasy--secondary: #fff;
}

.vjs-theme-fantasy .vjs-big-play-button {
    width: 70px !important;
    height: 70px !important;
    background: none !important;
    line-height: 70px !important;
    font-size: 80px !important;
    border: none !important;
    top: 50% !important;
    left: 50% !important;
    margin-top: -35px !important;
    margin-left: -35px !important;
    color: var(--vjs-theme-fantasy--primary) !important;
}

.vjs-theme-fantasy .vjs-control-bar {
    height: 54px !important;
}

.vjs-theme-fantasy .vjs-play-control .vjs-icon-placeholder:before {
    border: none;
    margin-top: 10px;
}

.vjs-theme-fantasy .vjs-play-control:hover .vjs-icon-placeholder:before {
    border: none;
}

.vjs-play-control {
    width: 40px !important;
}

.vjs-current-time,
.vjs-duration {
    line-height: 5.3 !important;
}

.vjs-skip-button {
    display: flex;
    justify-content: center;
}

.vjs-skip-button i {
    margin-right: 0;
    font-size: 16px;
    transform: translateY(-15%);
}

.vjs-skip-button i:hover {
    text-shadow: 0 0 1em white;
}

.vjs-playback-rate .vjs-playback-rate-value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
}

.vjs-playback-rate .vjs-menu-content {
    bottom: 2rem !important;
    font-size: 10px;
}

.vjs-icon-hd:before {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vjs-skip-button>i {
    position: relative;
    top: 2px;
}

.vjs-fullscreen-control:before {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-js .vjs-current-time {
    display: flex !important;
    align-items: center;
}

.video-js .vjs-duration.vjs-time-control.vjs-control {
    display: flex !important;
    align-items: center;
}

.vjs-icon-cog:before {
    content: "\f114";
    font-size: 17px;
}

.vjs-skip-button i.bi-skip-end-fill {
    position: relative !important;
    top: 0px !important;
}

.vjs-http-source-selector .vjs-menu {
    top: 26px;
}

.vjs-playback-rate>.vjs-menu {
    top: 44px;
}