@charset "UTF-8";
#news-slider {
  margin-top: 80px;
}

.post-slide {
  background: #fff;
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
}

.post-slide .post-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: -12px 15px 8px 15px;
  margin-left: -10px;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  transition: transform 0.2s linear;
}

.post-slide:hover .post-img img {
  transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(-45deg, rgba(6, 190, 244, 0.75) 0%, rgba(45, 112, 253, 0.6) 100%);
  transition: all 0.5s linear;
}

.post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}

.post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}

.post-slide .post-content {
  background: #fff;
  padding: 2px 20px 40px;
  border-radius: 15px;
}

.post-slide .post-title a {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
  text-decoration: none;
  color: #3498db;
}

.post-slide .post-description {
  line-height: 24px;
  color: #808080;
  margin-bottom: 25px;
}

.post-slide .post-date {
  color: #a9a9a9;
  font-size: 14px;
}

.post-slide .post-date i {
  font-size: 20px;
  margin-right: 8px;
  color: #cfdace;
}

.post-slide .read-more {
  padding: 7px 20px;
  float: right;
  font-size: 12px;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 25px;
  text-transform: uppercase;
}

.post-slide .read-more:hover {
  background: #3498db;
  text-decoration: none;
  color: #fff;
}

.owl-controls .owl-buttons {
  text-align: center;
  margin-top: 20px;
}

.owl-controls .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  top: -13%;
  left: 15px;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  box-shadow: 3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-next {
  background: #fff;
  position: absolute;
  top: -13%;
  right: 15px;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  box-shadow: -3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}

.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #333;
  font-size: 30px;
}

.owl-controls .owl-buttons .owl-next:after {
  content: "\f105";
}

@media only screen and (max-width: 1280px) {
  .post-slide .post-content {
    padding: 0px 15px 25px 15px;
  }
}
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}
#quote-carousel .carousel-control {
  background: none;
  color: #cacaca;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
#quote-carousel .carousel-control.left {
  left: -60px;
}
#quote-carousel .carousel-control.right {
  right: -60px;
}
#quote-carousel .carousel-indicators {
  quotes: "'" "'";
  top: auto;
  bottom: 0px;
}
#quote-carousel .carousel-indicators li {
  width: 80px;
  height: 80px;
  margin: 5px;
  cursor: pointer;
  border: 4px solid #ccc;
  border-radius: 50px;
  opacity: 1;
  transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border-color: #166ac9;
  opacity: 1;
  overflow: hidden;
}

.quote-carousel-inner {
  min-height: 250px;
}

.carousel-item blockquote {
  quotes: "“" "”";
}
.carousel-item blockquote small {
  position: relative;
  font-style: italic;
  font-size: 15px;
}
.carousel-item blockquote small:before {
  content: open-quote;
  font-size: 1.5em;
  line-height: 0.8;
  margin-right: 5px;
  vertical-align: top;
}
.carousel-item blockquote small:after {
  content: close-quote;
  font-size: 1.5em;
  line-height: 0.8;
  margin-left: 5px;
  vertical-align: top;
}

.carousel-indicators li .img-responsive,
.carousel-indicators li .thumbnail > img,
.carousel-indicators li .thumbnail a > img,
.carousel-indicators li .carousel-inner > .item > img,
.carousel-indicators li .carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.carousel-inner.slider {
  height: 400px;
}
@media screen and (max-width: 767px) {
  .carousel-inner.slider {
    height: auto;
  }
}
.carousel-inner.slider img {
  -o-object-fit: contain;
     object-fit: contain;
}

#test3 .carousel-control-prev,
#test3 .carousel-control-next {
  background-color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  top: 60%;
  transform: translateY(-50%);
}

.circle {
  width: 50px;
  height: 50px;
  border: 2px solid #007bff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 16px;
  color: #007bff;
}

.circle-container {
  display: flex;
}

.carousel-course-offline img {
  height: 100%;
}

.testimonial-slider {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin-top: 20px;
  background-color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.course-card {
  border: 1px solid #d1d1d1;
  border-radius: 15px;
  overflow: hidden;
  margin: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* CSS */
}
.course-card:hover {
  transform: scale(1.02);
  overflow: hidden;
  transition: transform 0.3s ease;
}
.course-card .course-card-teacher {
  min-height: 35px;
}
.course-card .course-card-teacher p {
  margin-bottom: 0;
}
.course-card .course-card-description {
  min-height: 40px;
}
.course-card .course-card-description p {
  margin-bottom: 0;
}
.course-card .card-price-container {
  min-height: 50px;
}
.course-card .btn {
  border-radius: 15px;
}
.course-card .button-custom {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #25B3EA 0%, #6AC4F3 33%, #ABD2F2 66%, #1569C9 100%);
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.course-card .button-custom:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.course-card .button-custom:active {
  transform: scale(0.95);
}

.course-card img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.course-card img:hover {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.course-card-body {
  padding: 15px;
}

.course-card-title {
  max-height: 42px;
  height: 42px;
}
.course-card-title .course-card-text {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0;
}

.course-card-price {
  color: #007bff;
  font-size: 1.4rem;
  font-weight: bold;
}

.orginal-price {
  text-decoration: line-through;
  position: relative;
  bottom: 1px;
}

.course-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #d1d1d1;
}

.course-card-footer .btn {
  border-radius: 20px;
}

.course-card-footer .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.course-card-footer .btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.course-card-footer .btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.partners-section {
  text-align: center;
  padding: 50px 0;
}

.partners-section h2 {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 20px;
}

.partners-section .divider {
  width: 50px;
  height: 2px;
  background-color: #007bff;
  margin: 0 auto 20px;
}

.partners-section .carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff;
  border-radius: 50%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  transform: scale(2);
}

.carousel-inner.slider {
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.gradient-title {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 6px rgba(22, 106, 201, 0.3);
  font-weight: bold;
  line-height: 1.5;
}

.gradient-title-sm {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(62, 135, 218, 0.3);
  font-weight: bold;
  line-height: 1.5;
}

.learning-series-list, .exam-series-list {
  max-width: 1400px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}
.learning-series-list .swiper-exam-series,
.learning-series-list .swiper-learning-series, .exam-series-list .swiper-exam-series,
.exam-series-list .swiper-learning-series {
  width: 1200px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1399px) {
  .learning-series-list .swiper-exam-series,
  .learning-series-list .swiper-learning-series, .exam-series-list .swiper-exam-series,
  .exam-series-list .swiper-learning-series {
    width: 900px;
  }
}
@media screen and (max-width: 1199px) {
  .learning-series-list .swiper-exam-series,
  .learning-series-list .swiper-learning-series, .exam-series-list .swiper-exam-series,
  .exam-series-list .swiper-learning-series {
    width: 800px;
  }
}
@media screen and (max-width: 991px) {
  .learning-series-list .swiper-exam-series,
  .learning-series-list .swiper-learning-series, .exam-series-list .swiper-exam-series,
  .exam-series-list .swiper-learning-series {
    width: 700px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
  .learning-series-list .swiper-exam-series,
  .learning-series-list .swiper-learning-series, .exam-series-list .swiper-exam-series,
  .exam-series-list .swiper-learning-series {
    width: 650px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .learning-series-list .swiper-exam-series,
  .learning-series-list .swiper-learning-series, .exam-series-list .swiper-exam-series,
  .exam-series-list .swiper-learning-series {
    width: 550px;
  }
}
@media screen and (max-width: 767px) {
  .learning-series-list .swiper-exam-series,
  .learning-series-list .swiper-learning-series, .exam-series-list .swiper-exam-series,
  .exam-series-list .swiper-learning-series {
    width: 350px;
  }
}
@media (max-width: 385px) {
  .learning-series-list .swiper-exam-series,
  .learning-series-list .swiper-learning-series, .exam-series-list .swiper-exam-series,
  .exam-series-list .swiper-learning-series {
    width: 100%;
  }
}
.learning-series-list .swiper-button-next,
.learning-series-list .swiper-button-prev, .exam-series-list .swiper-button-next,
.exam-series-list .swiper-button-prev {
  color: #2563eb;
  background: rgba(219, 219, 219, 0.2);
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
@media screen and (max-width: 575px) {
  .learning-series-list .swiper-button-next,
  .learning-series-list .swiper-button-prev, .exam-series-list .swiper-button-next,
  .exam-series-list .swiper-button-prev {
    transform: scale(0.7);
  }
}
.learning-series-list .swiper-button-next:after,
.learning-series-list .swiper-button-prev:after, .exam-series-list .swiper-button-next:after,
.exam-series-list .swiper-button-prev:after {
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .learning-series-list .swiper-button-next, .exam-series-list .swiper-button-next {
    right: -8px;
  }
}
@media screen and (max-width: 1399px) {
  .learning-series-list .swiper-button-next, .exam-series-list .swiper-button-next {
    right: -8px;
  }
}
@media screen and (max-width: 767px) {
  .learning-series-list .swiper-button-prev, .exam-series-list .swiper-button-prev {
    left: -8px;
  }
}
@media screen and (max-width: 1399px) {
  .learning-series-list .swiper-button-prev, .exam-series-list .swiper-button-prev {
    left: -8px;
  }
}
.learning-series-list .swiper-slide, .exam-series-list .swiper-slide {
  height: auto;
}

.trial-btn {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.trial-btn:hover {
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 5px 25px var(--primary);
  animation: glowingEffect 3s infinite;
}

@keyframes glowingEffect {
  0% {
    box-shadow: 0 0 15px var(--primary);
  }
  50% {
    box-shadow: 0 0 25px var(--secondary);
  }
  100% {
    box-shadow: 0 0 15px var(--primary);
  }
}
@media (min-width: 576px) {
  #test3 .carousel-item {
    margin-right: 0;
    flex: 0 0 50%;
    display: block;
  }
  #test3 .carousel-inner {
    display: flex;
  }
}
@media (min-width: 768px) {
  #test3 .carousel-inner {
    padding: 1em;
  }
  #test3 .carousel-control-prev,
  #test3 .carousel-control-next {
    opacity: 1;
    position: absolute;
    left: 1em;
    top: 90%;
    transform: translateY(-50%);
  }
  #test3 .carousel-control-next {
    left: 5em;
  }
  .circle {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
  #quote-carousel {
    padding: 0 5px 20px 5px;
    margin-top: 20px;
  }
  #quote-carousel .carousel-control {
    font-size: 1.8em;
    margin-top: 20px;
  }
  #quote-carousel .carousel-control.left {
    left: -40px;
  }
  #quote-carousel .carousel-control.right {
    right: -40px;
  }
  #quote-carousel .carousel-indicators li {
    width: 60px;
    height: 60px;
  }
  #quote-carousel .carousel-indicators .active {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 576px) {
  .circle {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  #quote-carousel {
    padding: 0 5px 20px 5px;
    margin-top: 20px;
  }
  #quote-carousel .carousel-control {
    font-size: 1.8em;
    margin-top: 20px;
  }
  #quote-carousel .carousel-control.left {
    left: -40px;
  }
  #quote-carousel .carousel-control.right {
    right: -40px;
  }
  #quote-carousel .carousel-indicators li {
    width: 30px !important;
    height: 30px !important;
  }
  #quote-carousel .carousel-indicators .active {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #quote-carousel {
    padding: 0 5px 20px 5px;
    margin-top: 20px;
  }
  #quote-carousel .carousel-control {
    font-size: 1.8em;
    margin-top: 20px;
  }
  #quote-carousel .carousel-control.left {
    left: -40px;
  }
  #quote-carousel .carousel-control.right {
    right: -40px;
  }
  #quote-carousel .carousel-indicators li {
    width: 50px !important;
    height: 50px !important;
  }
  #quote-carousel .carousel-indicators .active {
    width: 70px;
    height: 70px;
  }
}
