.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.rounded-lg {
    border-radius: 8px;
}

.primary-color {
    color: #156ac8;
}

body {
    background-color: white !important;
}

a:hover {
    color: #156ac8 !important;
    text-decoration: none;
}

.main-container {
    width: 100%;
}

.main-container .container {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
}

@media (min-width: 1280px) {
    .main-container .container {
        max-width: 1200px;
    }
}

.search-featured-section {
    background-color: #e0effa;
    width: 100%;
    /* border-bottom: 1px solid #cfcfcf; */
}

.search-section-container {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #cfcfcf;
}

.search-section {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-text {
    font-size: 20px;
}

.search-input {
    width: 300px;
    height: 40px;
    padding-right: 20px;
    padding-left: 30px;
    border-radius: 30px;
    border: 3px solid #156ac8;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.search-input:focus-visible {
    border-color: #6AC4F3;
}

.latest-article-section {
    display: flex;
    gap: 20px;
}

.latest-article-section > div {
    width: 50%;
}

.article-section {
    margin-top: 25px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 40px 20px 20px !important;
}

.featured-section {
    display: flex;
    gap: 20px;
}

.featured-section > div {
    width: 50%;
    display: flex;
}

.featured-list {
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
    overflow: visible;
}

.featured-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 12px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.featured-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
}

.featured-info h4 {
    font-weight: 600;
    height: 40px;
}

.featured-publish-type {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.featured-img {
    width: 40%;
    aspect-ratio: 3 / 2;
    height: fit-content;
    overflow: hidden;
    border-radius: 6px;
}

.contain-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-article {
    flex-direction: column;
    padding: 20px 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.latest-article .article-description {
    margin-top: 10px;
    color: rgb(75, 93, 115);
}

.latest-article .article-info {
    margin-top: 20px;
}

.latest-article .article-img {
    margin-top: 17px;
}

.latest-article .article-title {
    height: 62px;
    font-weight: 600;
}

.latest-article .article-description {
    height: 63px;
}

.article-list-container {
    width: 70%;
}

.article-description {
    color: rgb(75, 93, 115);
}

.article-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 30px;
    row-gap: 45px;
    margin-top: 20px;
}

.article-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-item h4 {
    font-weight: 600;
}

.article-img {
    width: 100%;
    height: fit-content;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.article-info {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.article-type {
    background-color: #acd4f2;
    padding: 4px 6px;
    color: #156ac8;
    border-radius: 6px;
    max-width: 205px;
    line-height: 1.1;
    width: fit-content;
}

.article-publish {
    display: flex;
    align-items: center;
    color: rgb(160 163 183);
    gap: 4px;
}

.article-title {
    margin-bottom: 0px;
}

.category-container {
    width: 30%;
    font-size: 18px;
}

.article-category h2 {
    font-weight: 600;
}

.category-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: white;
    height: fit-content;
    border-radius: 7px;
    gap: 10px;
}

.category-item > a{
    padding: 4px 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 6px;
    background-color: #eff4ff;
    color: #156ac8;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.category-item > a.active > span{
    font-weight: 800;
    color: #156ac8;
}

.category-item span {
    color: #3b3b39;
    max-width: 240px;
    font-weight: 400;
    font-size: 14px;
}

.category-item > a:hover {
    background-color: white;
    border: 1px solid #156ac8;
}

.search-box {
    position: relative;
}

.search-box .bi-search {
    position: absolute;
    top: 8px;
    left: 11px;
    font-size: 18px;
    color: #156ac8;
}

.pagination {
    width: 100%;
    display: flex !important;
    justify-content: center;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline-block;
}

.pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li > a:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination > .active > span {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.article-pagination {
    margin-top: 40px;
}

.featured-section a, .article-section a {
    color: rgb(46, 56, 77) !important;
}

.featured-section a:hover, .article-section a:hover {
    color: #156ac8 !important;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

@media (max-width:991px) {
    .featured-section {
        flex-direction: column;
    }

    .featured-section > div {
        width: 100%;
    }

    .article-section {
        flex-direction: column-reverse;
    }

    .category-container {
        width: 100%;
    }

    .article-list-container {
        width: 100%;
    }
}

@media (max-width:767px) {
    .article-list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width:575px) {
    .search-text {
        display: none;
    }

    .main-container .container {
        padding: 10px;
    }

    .search-section {
        height: 70px;
    }
}