@import "../../mixins";

.mock-exam-wrapper {
    max-width: 850px;
    margin: 0 auto;

    @include mq (max-pc) {
        max-width: 850px;
    }

    table > thead > tr {
        border-top: 0;
    }
}

.list-group-item {
    border-top-width: 1px !important;
}

.card, .card .card {
    border-radius: 8px;
    box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.item-card9-desc.mb-2 > a {
    font-size: 14px;
}

.double-scroll::-webkit-scrollbar {
    height: 8px;
}

.double-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.double-scroll::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 4px;
}