/* Default styles for desktop */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 120px;
  border: 1px solid #e6e6e6;
  border-top: none;
}

.sidebar-item {
  margin: 10px;
  gap: 20px;
}

.sidebar a {
  color: #000;
  font-size: 12px;
  font-weight: 800;
}

.sidebar-item.active {
  background-color: #e8ebed;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Media query for mobile and tablet */
@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .sidebar-item {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
  }

  .sidebar-item img {
    width: 28px;
    height: 28px;
    margin-bottom: 5px;
  }

  .sidebar-item.active {
    background-color: #e8ebed;
    border-radius: 10px;
  }
}

@media (max-width: 400px) {
  .sidebar-item {
    margin: 0 !important;
    padding: 0 !important;
  }
}